### INTRDUCTION
Audience reception  towards a  new movie is the standard xmetric of how good a movie is. the reception builds up to sales performanmce for the movie and this is where the production company mainly focuses on; sales and how much money made in this sense. Current market analysis  and audience reception of movies based on genre, features and  the production company can highly inform a  production companies on where to focus on


###  PROBLEM STATEMENT
This project  aim is to deepdive in the market analysis of movies performance on both consumer and producer segments and come up with actonable items on areas to be priotized at production stage for both parties to benefit. After all; Satisfied clients means constant business.


### OBJECTIVES
1. Analyze the trends and patterns in movie performance on both consumer and producer segments; Point ont which Genres are doing weell
1. Assess the impact of various features (cast, director, genre, budget, etc.) on the reception and sales of movies.
2. Identify areas where the production company can improve its performance.
3. Provide actionable items to be prioritized at production stage for both parties to benefit.
4. Discuss the potential impact of these changes on the overall business.
5. Identify potential competitors and their strengths to counteract the potential drawbacks of the proposed changes.


### DATA UNDERSTANDING

In [2]:
# loading datasets

import pandas as pd
BOM = pd.read_csv('data/bom.movie_gross.csv')
BOM.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

Bill of Matrials(BOM dataset)
1. Title of the Movie
2. The data set contains Budgeted cost of production to  incurred domestically and internationally.

In [16]:
popularity= pd.read_csv('data/tmdb.movies.csv', index_col=0)
popularity.head()

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

Popularity dataset contains;
1. Movie ID
2. Movie Title; of key is the original Title; which could serve as the primary key
3. Popularity Score; This score is calculated by taking into account a movie's popularity and critical acclaim.
4. Votes; Number of people who have given a vote to the movie.
5. Revenue; Domestic and international box office revenue.
6. Production Budget; The total cost of producing the movie.
7. Domestic Gross; Domestic box office revenue.
8. Worldwide Gross; Worldwide

In [15]:
movie_info = pd.read_csv('data/rt.movie_info.tsv',sep='\t')
movie_info.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

The Movies_Info Dataset contains
1. synopsis of the Movie 
2. Rating; Inicating wheter the movie is rated or not.
3. Director's Name
4. Genre(s)
5. Runtime in Minutes
6. Release Date; boththeatre and DVD date
7. Studio Name in which the Movie is is produced

In [ ]:
reviews = pd.read_csv('data/rt.reviews.tsv',sep='\t',encoding='latin-1')
reviews.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [17]:
cost= pd.read_csv('data/tn.movie_budgets.csv', index_col=0)
cost.head()

,release_date,movie,production_budget,domestic_gross,worldwide_gross
id,,,,,
1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

cost dataset contains;
1. The  movie release date
2. Movie title
3. Production Budget; The total cost of producing the movie.
4. Domestic Gross; Domestic cost of producing the movie
5. Worldwide Gross; Worldwide cost of producing the movie